
.addon-custom,.addon-blank {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #2998ca;
    color: #fff;
    width: 50px;
    font-size: 20px;
}

.addon-blank {
    background-color: #fff;
    color: inherit;
}

.addon-blank:hover {
    background-color: #fff;
    cursor: pointer;
    color: inherit;
}

#particles-js {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login-form {
    z-index: 1;
}

.user-input {
    font-family: "Segoe UI";
    font-size: 20px;
    height: 55px;
    margin-bottom: 5px;
}

.submit-button {
    font-family: "Segoe UI";
    font-size: 20px;
    padding-top: 0px;
    width: 100%;
    border-radius: 0px;
    background-color: #2998ca;
    height: 55px;
    margin-bottom: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
    color:white;
}

.site-logo {
    margin-top: 12%;
}

.show-loader {
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 97%;
}

.input-error{
    position: absolute;
    width: 40%;
    height: 25%;
    margin-top: 0%;
    background-color: #ff5f5f;
    margin-left: 74%;
    display: none;
}

.caret-right {
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-right: 13px solid;
    display: inline-block;
    height: 0;
    color: #ff5f5f;
    vertical-align: top;
    margin-left: -5%;
    width: 0;
    margin-top: 10px;
}

.error-input-icon{
    border: 1px solid #ff5f5f !important;
    border-right:none !important;
}

.error-input-text{
    border: 1px solid #ff5f5f !important;
    border-left:none !important;
}
.username-error,.password-error{
    color: #fff;
    padding-left: 5%;
    margin-top: -9%;
    position: absolute;
    font-size: 15px;
    font-family:"Segoe UI light" ;
}

.password-error{
    margin-top: 6%
}